.article {
    font-family: "Ubuntu", sans-serif;
    padding: 80px 0 120px;
}

.container {
    max-width: 1250px;
    padding: 0 15px;
    margin: 0 auto;

}

.arcticle-title {
    max-width: 596px;
    margin-bottom: 40px;
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 48px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
}

.arcticle-text {
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.article-mb {
    margin-bottom: 80px;
}

.arcticle-img,
.arcticle-video {
    width: 100%;
}

.arcticle-small-title {
    font-family: "Oswald", sans-serif;
    font-weight: 600;
    font-size: 36px;
    line-height: 115%;
    text-transform: uppercase;
    color: #2c332f;
    margin-bottom: 40px;
}

.arcticle-list {
    margin-top: 0;
    padding-left: 14px;
    font-family: "Ubuntu", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: #535755;
}

.arcticle-item {
    margin-bottom: 12px;
}

.arcticle-video {
    margin-bottom: 40px;
}