body {
    background-color: #333;
    color: #fff;
    font-family: sans-serif;
    font-size: 5rem;
    padding-top: 5vh;
}

.befor-after {
    display: flex;
    justify-content: center;
}

.title {
    text-align: center;
}

/* ====================================================== */

.title {
    position: relative;
}

.title::before,
.title::after {
    content: "";
    display: block;
    width: 100px;
    height: 100px;
    position: absolute;
    border-radius: 50%;
    border: 5px solid white;
    top: 50%;
    transform: translateY(-50%);
}

.title::before {
    background: #e95e5e;
    left: -150px;
}

.title::after {
    background: #7940ff;
    right: -150px;
}