/* ======================================= */

.body {
    font-family: "Archivo";
    font-weight: 600;
    font-size: 1.2vw;
    color: #fff;
    background: #141414;
}

.body--opened-menu {
    overflow: hidden;
}

.wrapper {
    min-height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

.container {
    max-width: 1738px;
    margin: 0 auto;
    padding: 0 15px;
    height: 100%;
}

.main {
    flex-grow: 1;
}

/* ======================================= */

.header__top {
    display: flex;
    justify-content: space-between;
    gap: 15px;
    padding-bottom: 52px;
    padding-top: 47px;

}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 15px;
    width: 1229px;
}

.nav__list {
    display: flex;
    gap: 50px;
}

.nav_item {
    text-transform: uppercase;
}

.nav__link {
    display: block;
    padding: 5px 0;
    position: relative;
    z-index: 1;
}

.nav__link::before {
    content: '';
    position: absolute;
    top: -5px;
    left: -14px;
    z-index: -1;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #f47521;
    opacity: 0;
    transition: all .4s;
}

.nav__link:hover::before {
    opacity: 1;
}

.header__controls {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 36px;
}

.hr {
    padding-bottom: 76px;
}

hr {
    background: #fff;
    opacity: 0.5;
    height: 1px;
}

.header__content {
    position: relative;

}

.power {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 10.4vw;
    line-height: 98%;
    color: #fff;
    z-index: -1;
}

.within {
    font-family: "Oswald";
    font-weight: 600;
    font-size: 20vw;
    line-height: 98%;
    color: #141414;
    -webkit-text-stroke: 2px #ffffff4d;
    position: absolute;
    right: 5px;
    transform: translateY(-90%);
    z-index: -2;
}

.header__content-button {
    width: 6.35vw;
    height: 6.35vw;
    background: #f47521;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    transform: translateY(-50%);
    left: 47.4%;
    z-index: 1;
}

.header__content-button img {
    width: 3vw;
    height: 3vw;
}

.header__content-img {
    width: 100%;
    transform: translateY(-8%);
    position: relative;
}

.header__content-img>img {
    width: 100%;
}

.header__controls-item path {
    transition: all .4s;
}

.header__controls-item:hover path {
    fill: #f47521;
}

/* ================ Бургер =================*/

.burger-icon {
    display: none;
    width: 50px;
    height: 50px;
    align-items: center;
    justify-content: center;
    z-index: 11;
}

.burger-icon span,
.burger-icon span::after,
.burger-icon span::before {
    display: block;
    width: 30px;
    height: 3px;
    border-radius: 100px;
    background: white;
    transition: all .4s;
}

.burger-icon span {
    position: relative;
}

.burger-icon span::after,
.burger-icon span::before {
    content: '';
    position: absolute;
}

.burger-icon span::after {
    bottom: 10px;
}

.burger-icon span::before {
    top: 10px;
}


.body--opened-menu .burger-icon span {
    background: transparent;
}

.body--opened-menu .burger-icon span::after {
    bottom: 0px;
    transform: rotate(45deg);
}

.body--opened-menu .burger-icon span::before {
    top: 0px;
    transform: rotate(-45deg);
}


/* ===================================== */


@media (max-width: 1600px) {

    .nav__list {
        position: fixed;
        inset: 0;
        z-index: 10;
        background: #141414;
        padding: 25vh 15px 30px;
        font-size: 24px;
        transform: translateY(-50%);
        opacity: 0;
        visibility: hidden;
        transition: all .4s;
        flex-direction: column;
        align-items: center;
    }

    .body--opened-menu .nav__list {
        transform: translateY(0%);
        opacity: 1;
        visibility: visible;
    }


    .nav {
        width: auto;
    }

    .header__controls {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 20px;
    }

    .burger-icon {
        display: flex;
    }

}

@media (max-width: 1000px) {
    .header__top {
        padding-bottom: 15px;
        padding-top: 30px;
    }

    .hr {
        padding-bottom: 15px;
    }
}
@media (max-width: 500px) {
}