body {
    font-family: sans-serif;
}

.form {
    max-width: 400px;
    border: 1px solid;
    border-radius: 10px;
}

.form-group {
    border: none;
    margin: 0;
    padding: 0;
}

.form-group-title {
    font-weight: bold;
    padding: 0 10px;
}

.label {
    display: block;
    padding: 0 10px;
}

.textarea {
    resize: vertical;
    min-height: 20px;
    max-height: 100px;
}

.input,
.textarea {
    display: block;
    padding: 4px 5px;
    margin: 5px 0;
    min-width: 300px;
    border: 1px solid;
    border-radius: 5px;
}

.checkbox {
    cursor: pointer;
}

.checkbox-text {
    font-size: 13px;
}

.button {
    cursor: pointer;
    margin: 10px;
    padding: 3px 10px;
    border: none;
    border-radius: 5px;
}