.odin {
    font-family: "Open Sans", serif;
    font-size: 20px;
    line-height: 30px;
    font-style: italic;
}

.dva {
    text-decoration: line-through;
    text-align: left;
}

.tri {
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    text-transform: uppercase;
}

.chet {
    text-shadow: 1px 1px 2px #1f37c0;
    text-decoration: overline wavy;
    word-spacing: 30px;
}

.piat {
    letter-spacing: 5px;
    text-decoration: underline double;
}