body {
    background-color: #1a1a1c;
    color: #fff;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.box {
    background: #3b3a3d;
    border-radius: 15px;
    width: 300px;
    height: 300px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #7de07d;
    font-size: 30px;
}

.box span {
    opacity: 0;
}

.box__scale {
    position: absolute;
    top: -100px;
    left: -300px;
    right: 600px;
    height: 30px;
    background: #fff;
}

.box:hover .box__scale {
    right: -300px;
}

.box:hover span {
    opacity: 1;
}

/* ================== Выполнение дз ниже =================== */

span,
.box__scale {
    transition-property: right, opacity;
    transition-duration: 2s, 1s;
    transition-delay: 0s, 2s;
}

.button__position, 
.button__transform,
.button__befor-after {
    position: fixed;
    bottom: 50px;
    width: 200px;
    height: 100px;
    background: #0011ff;
    border: 1px solid white;
    border-radius: 20%;
    color: #ffffff;
    font-size: 2vw;
}

.button__position {
    left: 100px;
}

.button__transform {
    left: 350px;
}

.button__befor-after {
    left: 600px;
}