table,
caption,
tr,
td,
th {
    border-collapse: collapse;
    border: 2px solid #000;
    padding: 2px;
    text-align: center;
    font-family: sans-serif;
    font-size: 35px;
}

table {
    margin: 50px;
}

caption {
    border-bottom: none;
    font-weight: bold;
}

.holiday {
    color: red;
}